body{
    background-image:url('images.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
}


.header{font-size:80%;
    width:900px;
    height:200px;
    background:#ffffff;
    margin-left:400px;
    margin-top:50px;
    border-radius: 10px 160px 10px 10px;
    box-shadow: 10px 10px 10px #000000;
    text-shadow:44px;
}   

a{display:inline-block}



.body{ font-size:70%;
       width:900px;
       height:900px;
       background:#ffffff;
       margin-left:400px;
       margin-top:20px;
       box-shadow: 10px 10px 10px #000000;
}



.footer{
    width:900px;
    height:300px;
    background:#ffffff;
    margin-left:400px;
    margin-top:20px;
    border-radius: 10px 10px 10px 160px;
    box-shadow: 10px 10px 10px #000000;
}
